@import "../../../../../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../../../../../node_modules/slick-carousel/slick/slick-theme.css";


.sliderWrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: url("../img/bgMain.png") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.slick-slide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

}

.center .slick-center{
    transform: scale(1.2);
    transition-duration: 0.5s;
    width: 100%;
}
.center .slick-center .userItem{
    background-color: #3b3b3b;
    box-shadow: 0 6px 10px 3px #5b5b5b;
}
/*.center .slick-center div{*/

/*}*/


.slick-slider{
    width: 1000px;
    min-width: 250px;
}

.left_arrow_box, .right_arrow_box {
    flex-grow: 0;
    text-transform: uppercase;
    position: relative;
    width: 17.5rem;
    height: 80px;
    opacity: 0.9;
    background-color: #d22425;
    font-family: Oswald;
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: #ffffff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_arrow_box:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #d22425;
    border-width: 40px;
    margin-top: -40px;
}
.right_arrow_box:after{
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #d22425;
    border-width: 40px;
    margin-top: -40px;
}
