@font-face {
    font-family: Oswald; /* Гарнитура шрифта */
    src: url('../../../Fonts/oswald/Oswaldregular.woff'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Oswaldextralight; /* Гарнитура шрифта */
    src: url('../../../Fonts/oswald/Oswaldextralight.woff'); /* Путь к файлу со шрифтом */
}
.loginForm{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/img/tabletBg.png") no-repeat center center;
    background-size: cover;

}

input::placeholder{
    font-family: MFred;
    color: #cccccc;
}
input{
    margin: 20px 20px 20px 0;
    /*width: 100%;*/
    font-family: MFred;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    border-bottom: 1px solid #cccccc;
    color: #d53839;
    transition: border-bottom-color;
}
input:focus{
    border: none;
    border-bottom: 1px solid #d5002b;
    outline: none;
    transition-duration: 0.5s;
}
.loginForm__img{
    margin-top: 20px;
}
.form{
    position: relative;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}
.loginForm__col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}
.buttonSubmit{
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    width: 263px;
    height: 61px;
    color: white;
    font-family: MFred;
    font-size: 1.5rem;
    box-shadow: 0.7px 0.7px 1px 0 rgba(0, 0, 0, 0.24);
    background-color: #d53839;

}
@media (min-width: 320px) and (max-width: 568px) and (orientation: portrait){
    .form{
        height: 100vh;
        flex-direction: column;
        padding-bottom: 100px;
        justify-content: center;
    }
    .buttonSubmit{
        position: absolute;
        left: 0;
        bottom: 40px;
    }
}
@media (min-width: 320px) and (max-width: 568px) and (orientation: landscape){
    .form{
        height: auto;
        flex-direction: column;
        padding-bottom: 70px;
        justify-content: center;
    }
    .loginForm{
        height: auto;
    }
    input{
        margin: 20px 20px 20px 0;
    }
    .buttonSubmit{
        position: absolute;
        left: 0;
        bottom: 10px;
    }
}