.rowStyle{
    height: 100vh;
}
.buttonLink{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Oswald;
    background-color: #7ed321;
    height: 60px;
    width: 100%;
    border-radius: 50px;
    color: white;
}
.buttonLink:hover{
    text-decoration: none;
    color: #f4efe7;
    background-color: green;
}